*.ipynb filter=nbstripout
*.zpln filter=nbstripout
*.ipynb diff=ipynb
*.json text eol=lf
*.jsonl text eol=lf
# Checksum-bound replay fixtures must not be rewritten by checkout settings.
samples/*.fixture -text -eol
